:root {
  --primery-tetx-color: #2E2F42;
  --title-text-color: #434455;
  --accent-color: #4D5AE5;
  --primery-white-color: #FFFFFF;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5; 
}
/*  
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
  /* outline: 2px solid tomato; */
.container {
  padding-left: 15px;
  padding-right: 15px;
}
h1,h2,h3,h4,h5,h6,p,ul {
  margin-top: 0;
  margin-bottom: 0;
}
img { 
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none; 
}

.link {
  margin: 0;
  font-family: inherit;
}
.title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--primery-tetx-color);
  font-weight:500;
  font-size: 36px;
  line-height: 1.1;
  text-align: center; 
}
.title-list { 
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--primery-tetx-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.link-work {
  color: var(--title-text-color);
}
/* header */

 .main-nav { 
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .mobil-menu-open {
   background-color: transparent;
   border: none;
   padding: 0;
   line-height: 0;
 } 
@media screen and (min-width: 428px) {
 .container {
   width: 428px;
   margin-left: auto;
   margin-right: auto;
 } 
 }
@media screen and (min-width: 768px) {
   .container {
     width: 768px;
   } 
   }
@media screen and (min-width: 1200px) {
     .container {
       width: 1158px;
     } 
     }  
 
@media screen and (max-width: 767px) {
 .site-nav {
  display: none;
  } 
 .auth-nav {
  display: none;
  }  
}
/* heder mobil */

@media screen and (max-width: 767px) {
 .header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}
 .logo {
    color: var(--accent-color);
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
   }
 .logo-header {
    color: var(--primery-tetx-color);
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
   }
  
 .site-nav .link {
    display: block;
    padding-top: 24px; 
    color:var(--primery-tetx-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--anim-fast);
     }
 .site-nav .link:hover,
 .site-nav .link:focus {
  color: var(--accent-color) } 

/* mobil menu */

 .mobil-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 796px;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--anim-fast);
}
.mobil-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobil-menu_container {
  position: relative;
  display: flex;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
}

.site-nav-menu {
  margin-bottom: auto;
  text-decoration: none;
  
}
.site-nav-menu .link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2E2F42;
  text-decoration: none;
}

.site-nav-menu>.item:not(:last-child) {
  margin-bottom: 40px;
} 

.site-nav-menu .link:hover,
.site-nav-menu .link:focus {
color: var(--accent-color)
 }
.auth-nav-menu {
  margin-bottom: 48px;
}
.auth-nav-menu .item:not(:last-child) {
  margin-bottom: 40px;
}
.link-phone {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
color: #4D5AE5;
text-decoration: none;
}
.link-mail {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #434455;
text-decoration: none;
}

.social-list-menu {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  
   
}

/* button mobil menu */

.mobil-menu_close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
   
}
}

@media screen and (max-width: 424px) {
  .social-list-menu {
    gap: 30px;
  }

  .link-phone {
    font-size: 24px;
  }
}
/* heder tablet*/

@media screen and (min-width: 768px) {
 .mobil-menu {
  display: none;
 }
 .mobil-menu-open {
  display: none;
 }
 .header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}
 .logo {
  color: var(--accent-color);
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
 }
 .logo-header {
  color: var(--primery-tetx-color);
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
 }
 .logo-nav {
  display: flex;
  align-items: center; 
}
.site-nav {
  display: flex;
  margin-left: 120px;
}
.site-nav .item + .item {
  margin-left: 40px;
}
.site-nav .link {
  display: block;
  padding-top: 24px; 
  color:var(--primery-tetx-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  transition: color var(--anim-fast);
   }
 .site-nav .link:hover,
 .site-nav .link:focus {
   color: var(--accent-color) 
 }
 .site-nav-list {
  list-style: none;
  }
.site-nav .link.current {
  color: var(--accent-color)   
}
.auth-nav {
align-items: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}

.link-phone {
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--anim-fast); 
  }
.link-phone:hover,
.link-phone:focus{ 
  color: var(--accent-color) 
  } 
.link-mail:hover,
.link-mail:focus{
   color: var(--accent-color) 
}
.link-mail {
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--anim-fast);
  }
  .current::after {
   content: "";
   display: block;
   width: 100%;
   height: 4px;
   background-color: var(--accent-color);
   margin: 0;
   margin-top: 24px;
  }
}

/* heder desctop*/

@media screen and (min-width: 1200px) {
   
.header {
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-nav {
  justify-content: flex-start;
}
.site-nav {
  display: flex;
  margin-left: 77px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color) 
}

.site-nav-list {
  list-style: none;
  }
.site-nav .link.current {
  color: var(--accent-color)   
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 40px;
}
.link-phone {
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--anim-fast); 
  }
.link-phone:hover,
.link-phone:focus{ 
  color: var(--accent-color) 
  } 
.link-mail:hover,
.link-mail:focus{
   color: var(--accent-color) 
}
.link-mail {
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--anim-fast);
  }
  .current::after {
   content: "";
   display: block;
   width: 100%;
   height: 4px;
   background-color: var(--accent-color);
   margin: 0;
   margin-top: 24px;
  }
}

/*   hero mobil  */


@media screen  and (max-width: 767px)
{
.hero {
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--primery-tetx-color);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobil/Dark-mobil-min.jpg');
  background-size: cover;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  padding-top: 112px;
  color: var(--primery-white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.07;
 }
.container-hero {
  margin-left: auto;
  margin-right: auto;
}
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),  
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px){
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('../images/mobil/Dark-mobil@2x-min.jpg');
  } 
}

 /*  hero tablet */


@media screen and (min-width: 768px) {
  .hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 436px;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('../images/tablet/Dark-tablet-min.jpg');
  }
  .container-hero { 
    margin-left: auto;
    margin-right: auto;
    width: 735px; 
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 112px;
  color: var(--primery-white-color);
  font-size: 56px;
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), 
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px){
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('../images/tablet/Dark-tablet@2x-min.jpg');
  } 
}

/*   hero desctop   */


@media screen and (min-width: 1200px) {
  .hero {
   display: block; 
   margin-left: auto;
   margin-right: auto;
   width: 1440px;
   padding: 0;
   height: 600px;
   text-align: center;
   background-size: cover;
   background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('../images/desctop/people-desktop-min.jpg');
  }
  .container-hero { 
    margin-left: auto;
    margin-right: auto;
    width: 1128px;
  }
  .hero-title { 
    margin-bottom: 48px;
    padding-top: 188px;
    color: var(--primery-white-color);
    font-size: 56px;
    line-height: 1.07;
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), 
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('../images/desctop/people-desktop@2x-min.jpg');
  } 
}  
 



  /* Benefits mobil */

  
/* section */



.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
} 
  
  
@media screen and (max-width: 767px) {
 .item-icon {
  display: none;
 }
 .item>.title-list { 
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--primery-tetx-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  align-self: stretch;
}
.feature-list>.item {
  margin-bottom: 72px;
}
.item:last-child {
  margin-bottom: 0;
}
}

/* Benefits tablet */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-icon {
    display: none;
   }

  .feature-list {  
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -72px;
  }
  .feature-list > .item {
   flex-basis: calc(100% / 2 - 24px);
   margin-left: 24px;
   margin-top: 72px;
  }
  /* .feature-list > .item { 
   width: 351px;
   height: 120px;

  }
  .feature-list>.item:nth-child(2n) {
    margin-left: 24px;
  }
  .feature-list>.item:nth-last-child(-n + 2) {
    margin-top: 72px;
  } */
    
.feature-list >.title-list {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--primery-tetx-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  align-self: stretch;
  color: #2E2F42;
}
}

/*  Benefits desctop */


@media screen and (min-width: 1200px) {
 .section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  }
 .item-icon { 
  display: flex; 
  width: 64px;
  height: 64px;
  margin: 24px 100px;
  justify-content: center;
  align-items: center;
}
.item-icon-list {
  display: flex;
  background-color: #F4F4FD;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.feature-list { 
  display: flex;
  
}
.feature-list .item+.item {
  margin-left: 24px;
}
.footer-list >.title-list {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
}

.feature-list .link {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
}

/*  values  */

@media screen and (max-width: 1199px){
  .section.no-padding {
    display: none;
  }
}

.values-list {
  display: flex;
}

.item-values {
  width: 360px;
  margin-top: 0;
  margin-bottom: 0px;
}
.values-list .item + .item {
  margin-left: 24px;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 120px;
}

 
.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  color:var(--primery-tetx-color);
}



/* team  mobil*/
  


.section-team {
  display: block;
  background-color: #F4F4FD;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.item-team {
 margin-left: auto;
 margin-right: auto;
 width: 260.35px;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 border-radius: 0px 0px 4px 4px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color var(--anim-fast);
}

.social-list-link:focus,
.social-list-link:hover {
  background-color: #404BBF;
}

.social-list-icon {
  fill: #F4F4FD;
}
.team-list .link {
  color: var(--title-text-color);
  background-color: var(--primery-white-color);
  text-align: center;
}
.title-team {
  background-color: var(--primery-white-color);
  text-align: center;
  margin-bottom: 8px;
}
.team {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--primery-white-color);
}

 @media screen and (max-width: 767px) {
   .team-list .item-team {
     margin-top: 72px;

   }
 }


/* team tablet */

@media screen and (min-width: 768px) and (max-width: 1199px) {
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 
 .team-list>.item-team { 
  margin-right: 0;
  margin-left: 24px;
}

.team-list>.item-team:nth-last-child(-n + 2) {
  margin-top: 64px;
}
.item-team {
  width: 264px;
}
}


 /* team desctop */

@media screen and (min-width: 1200px) {
.section-team { 
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
} 
.team-list {
  display: flex; 
} 
.team-list .item-team + .item-team {
  margin-left: 24px;
}
}
 


/* Button */


.button {
  font-family: inherit;  
  color: var(--primery-text-color);
  background-color: var(--accent-color);
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}
.button-list .item + .item {
  margin-left: 24px;
}
.button-list>.item:nth-child(4) {
  margin-left: 0;
}
.button-list>.item:nth-last-child(-n + 2) {
  margin-top: 16px;
}
.button-list.list {
  display: flex;
  
  margin-bottom: 48px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.button.primary {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 170px;
  padding: 16px 32px; 
  border: transparent;
  transition: background-color var(--anim-fast), box-shadow var(--anim-fast);
}
.button.primary:hover,
.button.primary:focus {
  background-color: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  color: var(--accent-color);
  background-color: #F4F4FD;
  font-weight: 500;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #E7E9FC;
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast); 
}


.button.secondary:hover,
.button.secondary:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}


@media screen and (min-width: 768px) {
.button-list.list {
  flex-wrap: nowrap;
  justify-content: center;
  
  margin-bottom: 64px;
}
.button-list>.item:nth-child(4) {
  margin-left: 24px;
}

.button-list>.item:nth-last-child(-n + 2) {
  margin-top: 0;
}
}
@media screen and (min-width: 120px) {
.button-list.list {
  margin-bottom: 72px;
}
}
   /* Work mobil*/

.section.padding {
  padding-top: 96px;
  padding-bottom: 96px;
}
.item-work {
  
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 48px;
  transition: box-shadow var(--anim-fast);
}
.item-work:last-child {
  margin-bottom: 0;
}
.item-work:hover,
.item-work:focus {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.work {
  padding: 32px 16px;
  border: 0.5px solid #F4F4FD;
  border-top: none;
}



/* Work tablet */

@media screen and (min-width: 768px) {
.work-gallery {
 display: flex;
 flex-wrap: wrap;
 position: 0;
 margin-left: -24px;
 margin-top: -72px;

}
.item-work {
  flex-basis: calc(100% / 2 - 24px);
  margin-left: 24px;
  margin-top: 72px;
  margin-bottom: 0;
}
}


/* Work destop */

@media screen and (min-width: 1200px) {

 .section.padding {
  padding-top: 120px;
  padding-bottom: 120px;
 }
  .work-gallery {
  margin-left: -24px;
  margin-top: -48px;
 }
  .item-work {
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
 }
 
}
  /* .item-work:nth-child(3n) { 
   margin-right: 0;
  }
  
 .item-work:nth-last-child(-n + 3) {
   margin-bottom: 0;
  }*/


/* owerlay */


@media screen and (max-width:1199px) {
.overlay {
  display: none;
}
} 
@media screen and (min-width: 1200px) {
.item-work-img {
    position: relative;
    overflow: hidden;
  }
  .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0,100%);
  transition: transform var(--anim-fast);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--accent-color);
  font-size: 16px;
  color: #F4F4FD;  
} 
.item-work:hover .overlay {
  transform: translate(0, 0);
}
}
/*  Clients mobil   */

 
 .clients-list-item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 168px;
   height: 88px;
   border: 1px solid #8E8F99;
   border-radius: 4px;
   color: #8E8F99;
   transition: color var(--anim-fast), border var(--anim-fast);
 }
 .clients-list-item:hover,
 .clients-list-item:focus {
   border: 1px solid #4D5AE5;
   border-radius: 4px;
   color: #4D5AE5;
 }

 .clients-list-icon {
   display: block;
   width: 104x;
   height: 56px;
   margin: 16px 32px;
   fill: currentColor;
 } 
  .clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
  flex-basis: calc(100% / 2);
 }
  
/* Clients tablet */

@media screen and (min-width: 768px) {
 .clients-list {
   column-gap: 24px;
   row-gap: 72px;
   flex-basis: calc(100% / 3);
 }
}
@media screen and (min-width: 1200px) {
  .clients-list {
      display: flex;
      justify-content: center;
      gap: 24px;
}
}



/* Footer  mobil*/


.footer-link {
 margin-left: auto;
 margin-right: auto;
 background-color: var(--primery-tetx-color);
 padding-top: 96px;
 padding-bottom: 96px;
 
}
.footer-logo {
  text-align: center;
  margin-bottom: 72px;
}
.footer-list {
  color: #E7E9FC;
  margin-top: 16px;
}
.logo-footer {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
  text-decoration: none; 
}
.footer-list-footer {
  font-family: Roboto;
  font-style: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E7E9FC;
  margin-bottom: 16px;
  text-align: center;
} 

.social-footer {
  margin-bottom: 72px;
}
.social-footer-list {
  display: flex;
  justify-content: left;
  gap: 16px;
  justify-content: center;
 }

 .social-footer-list-link { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--anim-fast);
 }
 .social-footer-list-link:hover,
 .social-footer-list-link:focus {
  background-color: #31D0AA;
 }
 .social-footer-list-icon {
  fill: #E7E9FC;
  width: 24px;
  height: 24px;
 }
.form-footer-field {
 width: 264px;
} 
.form-footer-descr-input {
  display: block;
  color: #E7E9FC;
  margin-top: 16px;
  font-family: Roboto;
  font-style: 600;
  font-size: 16px;
  line-height: 24px;
  line-height: 128%;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
 }
.form-footer-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: #FFFFFF;
  outline: transparent;
 }
.form-footer-submit {
  display: flex;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  list-style: none;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 24px;
  border: transparent;
  transition: background-color var(--anim-fast), box-shadow var(--anim-fast);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
 margin-top: 16px;
}

.form-footer-submit:focus,
.form-footer-submit:hover {
  background-color: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);   
}
.form-footer-icon{
  width: 24px;
  height: 20px;
  fill: #FFFFFF;
  margin-right: 0;
  margin-left: 16px; 
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
 }

/* Footer tablet */


@media screen and (min-width: 768px) {
.footer {
  display: flex;
  flex-wrap: wrap;
  width: 584px;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo {
  text-align: left;
  width: 264px;
  margin-right: 24px;
  margin-bottom: 72px;
}
.form-footer-descr-field {
  display: flex;
  align-items: flex-end;
  
}
.form-footer-submit {
  margin-left: 24px;
}
}


/* Footer desctop */
@media screen and (min-width: 1200px) {
.footer-link {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer {
flex-wrap: nowrap;
align-items: baseline;
}
 .container  {
   margin-left: auto;
   margin-right: auto;
   width: 1158px;
   /* outline: 2px solid tomato; */
 }
 .footer-list { 
  width: 264px;
 }
 .social-footer {
   width: 208px;
   margin-left: 120px;
}
.form-footer-descr-field {
  margin-left: 80px;
}
}


 /* Modal window */

 
  
 .backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--anim-fast), visibility var(--anim-fast)
 }
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
 .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  height: 584px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
 }
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: fill var(--anim-fast), background-color var(--anim-fast);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: #FFFFFF;
  background-color: #404BBF;
}
 
.form-caption {
  font-size: 16px;
  text-align: center;
  
  margin-bottom: 14px;
}  

.modal-form {
  display: flex;
  flex-direction: column;
 }

.modal-form-input-wrapper {
  display: block;
  position: relative;
} 
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: #000000;
  transition: border-color var(--anim-fast);
 }
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
} 
.modal-form-field {
  margin-bottom: 8px;
 }
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
  color: #8E8F99;

 }
.modal-form-input-icon {
 position: absolute;
 top: 50%;
 left: 16px;
 transform: translateY(-50%); 
 display: block;
 width: 18px;
 height: 18px;
 transition: fill var(--anim-fast);
}
.modal-form-input:focus + .modal-form-input-icon{
  fill: var(--accent-color);
}
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: var(--anim-fast);
}
.modal-form-message::placeholder{
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-check-desk {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #757575;
  margin-bottom: 24px;
}
.modal-form-check-desk::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #2E2F42;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desk::before {
 background-color: #404BBF;
 border: 2px solid #404BBF;
 background-image: url(../images/click.svg);
 background-size: contain;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 
}

.modal-form-submit {
  align-self: center;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 170px;
  padding: 16px 32px; 
  border: transparent;
  transition: background-color var(--anim-fast), box-shadow var(--anim-fast);
  border-radius: 4px;
}
 .modal-form-submit:focus,
 .modal-form-submit:hover  {
  background-color: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form-privacy {
  color: #4D5AE5;
}
@media screen and (min-width: 768px) {
 .modal {
  width: 408px;
  height: 586px;
 }
}